<ion-view hide-back-button="true" view-title="Books" >
  <ion-nav-buttons>
    <header-nav left-button-action="goToIndex" right-button-action="goToCart"></header-nav>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
    <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="book in books"
              type="item-text-wrap"
              nav-transition="ios"
              ng-click="showDetail(book.id)">
      <img ng-src="{{book.cover}}">
      <p><b>{{book.title}}</b></p>
      <p>Author: {{book.author}}</p>
      <p>Price: {{book.price}}</p>

      <i class="icon ion-chevron-right icon-accessory"></i>


    </ion-item>
    </ion-list>


      <ion-infinite-scroll
              ng-if="!noMoreItems"
              icon="ion-loading-c"
              on-infinite="loadMoreData()"
              distance="10%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>
