<ion-view view-title="Book detail">
    <ion-nav-buttons>
        <header-nav left-button-action="goToIndex" right-button-action="goToCart"></header-nav>
    </ion-nav-buttons>

    <ion-content>
    <div class="item header-image">
        <img src="{{book.cover}}">
    </div>
    <div class="item-text-center item-text-header">
        <h3>{{book.title}}</h3>
    </div>
    <div class="list">
        <div class="item tab-item-dark">
            <p>Auhor: {{book.author}}</p>
            <p>ISBN: {{book.ISBN}}</p>
            <p><span class="subdued"> Price: {{book.price}}</span></p>
        </div>

        <div class="item item-body">
            <h3>Review:</h3>
            <span ng-bind-html="book.review"></span>
        </div>
    </div>
  </ion-content>
    <div class="bar bar-footer item-button-right bar-footer-big bar-stable">
        <label class="item item-input item-select">
            <div class="input-label">
                <i class="icon ion-ios-cart-outline"></i>
                &nbsp;
            </div>
            <select name="itemsToCart" ng-model="itemsToCart">
                <option selected></option>
                <option ng-repeat="item in cartSelectItems">{{item}}</option>
            </select>
        </label>
        <button ng-click="addToCart()" class="button button-positive">Add to cart</button>

    </div>
</ion-view>
