<ion-view hide-back-button="true" view-title="Shopping cart" >
    <ion-nav-buttons>
        <header-nav left-button-action="goToIndex" right-button-action="goToCart"></header-nav>
    </ion-nav-buttons>

    <ion-content  padding="'true'" class="has-header">


        <div ng-show="cartIsEmpty()" class="item item-balanced item-text-center">
            No items in cart
        </div>
        <div ng-repeat="item in cart">
            <div class="list card" >
                <div class="item item-divider">{{item.item.title}} </div>
                <div class="item item-body">
                    <img ng-src="{{item.item.cover}}" width="100%" height="150px" style="width: 100%; height: 150px;">

                    <div>
                        <p>
                            {{item.quantity}} x ${{item.item.price}} = <strong>${{ item.price  }}</strong>
                        </p>
                    </div>

                    <div class="button-bar">
                        <button ng-click="removeLine(item.item.ISBN)"    class="button button-assertive button-block button-small icon ion-android-delete"></button>
                        <button ng-click="addItemToLine(item.item.ISBN)" class="button button-stable button-clear button-block button-small icon ion-plus"></button>
                        <button ng-click="addItemToLine(item.item.ISBN)" class="button button-stable button-clear button-block button-small">{{item.quantity}}</button>
                        <button ng-click="extractItemFromLine(item.item.ISBN)" class="button button-stable button-clear button-block  icon ion-minus" ></button>
                    </div>

                </div>
            </div>
        </div>

    </ion-content>

    <div ng-hide="cartIsEmpty()" class="bar bar-footer bar-footer-big bar-stable">
        <div class="item-balanced item-button-right">
            <h2>Total: ${{ getTotalPrice() }}</h2>
        <button ng-click="checkOut()" class="button button-positive">Check Out</button>
        </div>
    </div>
</ion-view>
