<ion-view hide-nav-bar="true">
  <ion-content class="padding-top">
    <img class="logo" src="./img/logo.png" />
    <form novalidate name="signInForm" ng-submit="signIn(signInForm)">
      <div class="list">
        <label class="item item-input item-floating-label" ng-class="{'has-error' : signInForm.username.$invalid}">
          <span class="input-label">Username</span>

          <input type="text"
                 name="username"
                 placeholder="Username"
                 ng-model="user.user"
                 ng-minlength="4"
                 required
          >
        </label>
        <div style="color:maroon" role="alert"
             ng-if="submitted || signInForm.username.$dirty"
             ng-messages="signInForm.username.$error">
          <div ng-message="required">Required</div>
          <div ng-message="minlength">Your field is too short</div>
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password"
                 name="password"
                 placeholder="Password"
                 ng-model="user.passwd"
                 ng-minlength="4"
                 required
          >
        </label>
        <div style="color:maroon" role="alert"
             ng-if="submitted || signInForm.password.$dirty"
             ng-messages="signInForm.password.$error">
          <div ng-message="required">Required</div>
          <div ng-message="minlength">Your field is too short</div>
        </div>
      </div>


      <div class="padding">
        <button type="submit" class="button button-block button-positive">
          Sign in
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
