<ion-view hide-back-button="true" view-title="Main Menu">
    <ion-nav-buttons>
        <header-nav left-button-action="goToIndex" right-button-action="goToCart"></header-nav>
    </ion-nav-buttons>

    <ion-content class="content-grey">
        <div class="list list-main">
            <div class="item">
                <a href="#/books" nav-direction="forward">
                <button class="button button-block button-calm">
                    Books
                </button>
                </a>
            </div>

            <div class="item">
                <button disabled class="button button-block button-outline button-stable">
                    Electronic books
                </button>
            </div>

            <div class="item">
                <button disabled class="button button-block button-outline button-stable">
                    Courses
                </button>
            </div>

            <div class="item">
                <button ng-click="logout()" class="button button-block button-energized">
                    Logout
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
