<button ng-click="ctrl.leftButtonAction()" class="button icon ion-navicon"></button>
<h1 class="title"> </h1>
<button ng-click="ctrl.rightButtonAction()" class="button icon ion-android-cart"></button>


