/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.logo {
  width: 40%;
  margin: 20px auto;
  display: block;
}

.header-image {
  height: 150px;
  padding: 0;
  img {
    width: 100%;
    height: 100%;
  }

}

.item-text-header {
  padding: 10px 10px 0 1px;
  h3 {
    font-size: 16px;
  }
}

.item-text-center {
  text-align: center;
}

.list-main {
  margin-top: 40px;
}

.content-grey {
  background-color: #f8f8f8;
}

.bar-footer {
  .input-label {
    color: #69717d;
  }
  label {
    height: 40px;
    width: 60%;
    font-size: 13px;
  }
}



.bar-footer-big {
  color: #69717d;
  min-height: 60px !important;
  line-height: 60px;
  vertical-align: middle;
}